/STM/pressure-monitor/MDK-ARM
PCB/1-box.prt.1
PCB/1-box.prt.2
PCB/1-box.prt.3
PCB/1-box.prt.4
PCB/1-box.prt.5
PCB/1-box.stp
/software/dist
STM/Pipfile
STM/main_window.spec
/STM/F405/Middlewares
/STM/F405/MDK-ARM
/STM/pressure-monitor/Middlewares
/STM/pressure-monitor/Middlewares
/STM/F405/Drivers
/STM/dist
STM/pressure-monitor/pressure-monitor.ioc
/STM/pressure-monitor/Middlewares
/STM/build
*.1
*.2
*.3
*.4
*.5
*.6
*.7
/PCB/压力传感器monitor_backup
/software/__pycache__
/software/build
*.7z
/STM/__pycache__
/STM/pressure-monitor/Drivers
/STM/pressure-monitor/Drivers
